<div
  class="sticky lg:hidden top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-all duration-100 bg-base-100 text-base-content shadow-sm"
>
  <div class="navbar">
    <div class="navbar-start">
      <label for="my-drawer" class="btn btn-square btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>
    <div class="navbar-center">
      <a
        class="btn btn-ghost normal-case text-xl flex items-center gap-2"
        href="/"
      >
        <span class="relative inline-block w-6 h-6">
          <span class="absolute inset-0 border-2 border-primary rounded-sm"
          ></span>
          <span class="absolute -top-0.5 -right-0.5 w-2 h-2 bg-base-100"></span>
          <span class="absolute -bottom-0.5 -left-0.5 w-2 h-2 bg-base-100"
          ></span>
        </span>
        Federico Betti
      </a>
    </div>
    <div class="navbar-end"></div>
  </div>
</div>
